extends alayout

block content
    
    h1(align='center') signals


    table.table.table-danger(border='1')
     tr
       td signal1
        #signal1
          #redlight1
          #yellowlight1
          #greenlight1
          table(border='1')
            td
             #greenleft
            td
             #greenright
          table(border='1')
            td
             #blank1
            td
             #blank2

          table(border='1')
            td
             #pcrosinr1
            td
             #pcrosing1
                 
     
       

       td signal2
        #signal2
          #redlight2
          #yellowlight2
          #greenlight2
          table(border='2')
            td
             #greenleft2
            td
             #greenright2
          table(border="2")
            td
             #blank3
            td
             #blank4    
          table(boder='1')
            td
             #pcrosinr2
            td
             #pcrosing2          
                                        


       


       td signal3
        #signal3
         #redlight3
         #yellowlight3
         #greenlight3
         table(border='2')
           td
            #greenleft3
           td
             #greenright3
          table(border='2')
            td
              #blank5
            td
              #blank6
          table(boder='1')
            td
             #pcrosinr3
            td
             #pcrosing3                 


       




       td signal4
        #signal4
         #redlight4
         #yellowlight4
         #greenlight4
         table(border='2')
           td
            #greenleft4
           td
            #greenright4
         table(border='2')
           td
            #blank7
           td
            #blank8
          table(boder='1')
            td
             #pcrosinr4
            td
             #pcrosing4            
        


         
    




             

            


    

               



       

        



                      





